*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Keyframes for slide-in animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-30%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Apply animation to buttons */
.animate-slide-in {
    animation: slideInFromLeft 1.5s ease-out forwards;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 0;
    background-color: #100D28;
    color: aliceblue;
    position: fixed;
    padding: 2px 100px;
    box-sizing: border-box; 
    z-index: 1000;
}

nav .head-txt img{
    height: 70px;
}

nav .head-btn a{
    display: inline-block; 
    padding: 4px 20px; 
    background-color: #100D28;
    color: #C1FF72;
    border-radius: 50px;
    border: 1.3px solid #3D6D00;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

nav .head-btn a:hover {
    background-color: #C1FF72;
    color: #100D28;
}

nav .head-btn a:active {
    background-color: #3D6D00; 
    color: #ffffff; 
    font-weight: bold;
    transform: scale(0.98); 
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 0;
    margin-top: 60px;
    background-image: url('images/background-home.png');
    color: #ffffff;
}

table {
    width: 100%; 
    border-collapse: collapse;
    top: 40px;
}

th{
    padding: 10px; 
    text-align: left; 
}

.heading{
    font-size: 50px;
    color: #ffffff;
    text-align: left;
    padding-left: 100px;
    line-height: 60px;
    letter-spacing: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sub-heading{
    font-size: 24px;
    color: #ffffff;
    text-align: left;
    padding-left: 100px;
    line-height: 60px;
    letter-spacing: 2px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

#typing-container {
    font-size: 24px;
    color: #C1FF72;
    text-align: left;
    line-height: 60px;
    letter-spacing: 2px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.colored-text {
    color: #C1FF72; 
}

.home-img img{
    height: 450px;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-22px);
    }
    100% {
        transform: translateY(0);
    }
}

.dcv{
    width: 170px;
    height: 40px;
    position: absolute;
    left: 100px;
    font-weight: bold;
    background-color: #100D28;
    color: #C1FF72;
    border-radius: 50px;
    border: 1.3px solid #3D6D00;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.dcv:hover {
    background-color: #C1FF72;
    color: #100D28;
}

.dcv:active {
    background-color: #3D6D00; 
    color: #ffffff; 
    font-weight: bold;
    transform: scale(0.98); 
}

.logo{
    width: 40px;
    height: 40px;
    left: 100px;
    font-weight: bold;
    background-color: #100D28;
    color: #C1FF72;
    border-radius: 50px;
    border: 1.3px solid #3D6D00;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.logo:hover {
    background-color: #C1FF72;
    color: #100D28;
}

.logo:active {
    background-color: #3D6D00; 
    color: #ffffff; 
    font-weight: bold;
    transform: scale(0.98); 
}

.logo img{
    height: 25px;
}

.logo-btn{
    padding-left: 90px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
    height: 530px;
    padding-left: 450px;
    padding-top: 30px;
    padding-bottom: 100px;
    color: #ffffff;
    background-image: url('images/About\ Banner.png');
}

.about-hd{
    display: flex;  
    align-items: center;     
    text-align: center;     
    height: 100%;
    width: 80%;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
    margin: 20px 0;
}

.about-hd.visible{
    opacity: 1;
    transform: translateY(0);
}

.about-p{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    padding-right: 30px;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.about-p p {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
    margin: 10px 0;
}

.about-p p.visible {
    opacity: 1;
    transform: translateY(0);
}

.abt-img img{
    display: flex;
    position: absolute;
    height: 380px;
    left: 3%;
    margin-top: 30px;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.abt-img.visible img {
    opacity: 1;
    transform: translateY(0);
}

.skills {
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    align-items: center;       
    background-image: url('images/skills\ background.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 60px 40px; /* Added padding for better spacing */
    width: 100%;
}

.skills-hd {
    display: flex;  
    justify-content: center; 
    align-items: center;     
    text-align: center;     
    width: 100%; /* Changed to 100% for full-width heading */
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.skills-hd.visible{
    opacity: 1;
    transform: translateY(0);
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 150px; 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #C1FF72;
    font-size: 15px;
    background-color: #100D28; 
    border-radius: 8px; 
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    opacity: 0;
    transform: translateX(-100px);
    transition: transform 1s ease-out, opacity 1s ease-out, transform 0.3s;
}

.card.visible {
    opacity: 1;
    transform: translateX(0);
}

.card img {
    width: 100%;
    border-radius: 4px; 
}

.card h1 {
    font-size: 18px; 
    margin-top: 10px; 
}

.card:hover {
    transform: scale(1.05); 
}

.education{
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    padding-top: 45px;   
    padding-bottom: 30px; 
    background-image: url('images/education\ banner.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
}

.education table{
    width: 100%;
}

.ed-card, .ex-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 530px;
    border-radius: 100px;
    padding: 15px;
    gap: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.ed-card img, .ex-card img{
    height: 150px;
    border-radius: 70px;
}

.ed-card{
    background-color: #3e6d00a3;
    border: 2px solid #ffffff;
}

.ex-card{
    background-color: #ffffffa5;
    border: 2px solid #C1FF72;
}

.ex-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.473); 
}

.ed-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(127, 232, 123, 0.703); 
}

.description1, .description2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-family: 'Arial', sans-serif;
    line-height: 20px;
}

.description1 h1, .description2 h1{
    font-size: 1.5em;
    font-weight: bolder;
    line-height: 27px;
}

.description1 p1, .description1 p2, .description1 p3{
    color: #ffffff;
}

.description1{
    color: #C1FF72;
}

.description2{
    color: #100D28;
}

.description2 p1, .description2 p2, .description2 p3{
    color: #274501;
}

 .project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 45px;   
    padding-bottom: 30px; 
    background-image: url('images/pr-banner.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
 }

 .prs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
 }

 .pr-card{
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid #C1FF72;
    width: 450px;
    height: 100%;
 }

 .pr-card img{
    width: 100%;
    object-fit: cover;
  }

.pr-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -100%;
    position: absolute;
    color: #ffffff;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(5px);
    transition: 1.5s;
}

.pr-card:hover .pr-body{
    bottom: 0;
}

.pr-body h1{
    text-transform: capitalize;
    font-size: 30px;
    font-family: cursive;
    font-weight: bolder;
}

.pr-body a{
    text-transform: capitalize;
    font-size: 15px;
    font-family: cursive;
    font-weight: bolder;
    cursor: pointer;
    color: #C1FF72;
    text-decoration: none;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 45px;    
    background-image: url('images/contact-banner.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 477px;
 }

 .contact-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
 }

 .contact-body table{
    width: 80%;
 }

 .cont-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 20px;
    padding: 10px;
    background-color: #110A44;
    border: 1.5px solid #C1FF72;
    gap: 30px;
    transition: transform 0.3s;
 }

 .cont-card:hover {
    transform: translateY(-10px);
}

 .card-content {
    display: flex;
    flex-direction: column;
}

.card-content h1{
    font-size: 35px;
    color: #C1FF72;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-content a{
    font-size: 15px;
    font-weight: 100;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 .cont-card img{
    width: 60px;
    height: 60px;
    display: block;
 }

 .cont-img{
    height: 350px;
 }

 footer {
    background-color: #100D28; 
    padding: 30px 0; 
    text-align: center; 
    color: #ffffff;
}

.logo-btn2{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
    padding-left: 90px;
    gap: 10px;
    align-items: center;
    color: #C1FF72;
}
