@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

/* Keyframes for slide-in animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-30%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Apply animation to buttons */
.animate-slide-in {
    animation: slideInFromLeft 1.5s ease-out forwards;
}

/* The entire scrollbar */
::-webkit-scrollbar {
    width: 12px;  
    height: 12px; 
  }
  
  /* The scrollbar track */
  ::-webkit-scrollbar-track {
    background: #2a2929;  
    border-radius: 10px;  
  }
  
  /* The scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: #fd9d0d;
    border: 2px solid #ac6c0c;
    border-radius: 10px; 
  }
  
  /* The scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ac6c0c;  
  }

nav{
    top: 0;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
    padding: 5px 100px;
    box-sizing: border-box; 
    z-index: 1000;
}

nav .head-txt img{
    height: 60px;
}

nav .head-btn a{
    display: inline-block; 
    padding: 4px 20px; 
    color: #FDAE35;
    cursor: pointer;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s, color 0.1s, transform 0.2s;
}

nav .head-btn a:hover {
    color:white;
    font-weight: bold;
}

nav .head-btn a:active {
    color:orangered; 
    font-weight: bold;
    transform: scale(0.98); 
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: #ffffff;
    margin-top: 60px;
    background-image: url('images/Home-BG.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

table {
    width: 100%; 
    border-collapse: collapse;
    top: 40px;
}

th{
    padding: 10px; 
    text-align: left; 
}

.heading{
    font-size: 50px;
    color: #ffffff;
    text-align: left;
    padding-left: 100px;
    line-height: 60px;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
}

.sub-heading{
    font-size: 24px;
    color: #ffffff;
    text-align: left;
    padding-left: 100px;
    line-height: 60px;
    letter-spacing: 2px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

#typing-container {
    font-size: 24px;
    color: #FDAE35;
    text-align: left;
    line-height: 60px;
    letter-spacing: 2px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.colored-text {
    color: #FDAE35; 
}

.home-img img{
    height: 420px;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-22px);
    }
    100% {
        transform: translateY(0);
    }
}

.dcv{
    width: 170px;
    height: 40px;
    position: absolute;
    left: 100px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: #FDAE35;
    border-radius: 50px;
    border: 1.3px solid #FDAE35;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.dcv:hover {
    background-color: white;
    color: black;
}

.dcv:active {
    background-color: #FDAE35; 
    color: black; 
    font-weight: bold;
    transform: scale(0.98); 
}

.logo{
    width: 40px;
    height: 40px;
    left: 100px;
    font-weight: bold;
    background-color: black;
    color: #FDAE35;
    border-radius: 50px;
    border: 1.3px solid #FDAE35;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.logo:hover {
    background-color: #ac6c0c;
    color: #100D28;
}

.logo:active {
    background-color: #3D6D00; 
    color: #ffffff; 
    font-weight: bold;
    transform: scale(0.98); 
}

.logo img{
    height: 25px;
}

.logo-btn{
    padding-left: 90px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 520px;
    padding-top: 60px;
    padding-left: 450px;
    padding-bottom: 150px;
    background-image: url(images/About-Me.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.about-hd{
    display: flex;  
    align-items: center;     
    text-align: center;     
    height: 100%;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.about-hd.visible{
    opacity: 1;
    transform: translateY(0);
}

.about-p{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    padding-right: 30px;
    font-size: 15px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.about-p p {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
    margin: 10px 0;
}

.about-p p.visible {
    opacity: 1;
    transform: translateY(0);
}

.skills {
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    align-items: center;       
    background-image: url(images/skills-BG.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 40px 40px 80px 40px; /* Added padding for better spacing */
    width: 100%;
}

.skills-hd{
    justify-content: center; 
    align-items: center;     
    text-align: center;    
}

.skills-hd, .contact-hd {
    display: flex;   
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.skills-hd.visible, .contact-hd.visible{
    opacity: 1;
    transform: translateY(0);
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;
    gap: 20px;
}

.card {
    opacity: 0;
    width: 150px;
    padding: 10px;  
    font-size: 18px;
    border-radius: 8px; 
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #FDAE35;
    background-color: #463b27; 
    border: 1px solid #FDAE35;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transform: translateX(-100px);
    transition: transform 1s ease-out, opacity 1s ease-out, transform 0.3s;
}

.card.visible {
    opacity: 1;
    transform: translateX(0);
}

.card img {
    width: 70%;
    border-radius: 4px; 
}

.card h1 {
    font-size: 18px; 
    margin-top: 10px; 
}

.card:hover {
    transform: scale(1.05); 
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 100px;
    background-image: url('images/Edu-BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.skills-hd h1 {
    text-align: center;
}

.container-edu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.edu-card {
    transition: 0.3s;
}

.edu-card img {
    height: 200px;
    border-radius: 40px 0 40px 0;
    border: 1.5px solid wheat;
}

.edu-card:hover {
    transform: translateY(-10px);
}

.wrapper {
    padding-top: 30px;
    max-width: 1200px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper i {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 60%;
    font-size: 3rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    color: #FDAE35;
    font-weight:bolder ;
    font-family: monospace;
    z-index: 1;
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    margin-left: 80px;
    margin-right: 80px;
    grid-auto-columns: calc((100% / 3) - 12px);
    max-width: 1100px;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    padding-top: 20px;
    border-radius: 40px 0 40px 0;
}

.carousel::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.exp-card {
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.exp-card img {
    width: 100%;
    height: auto;
    border: 1.5px solid wheat;
    border-radius: 40px 0 40px 0;
}

.exp-card:hover{
    transform: translateY(-10px);
}

.wrapper i.fa-angle-left {
    left: 0;
}

.wrapper i.fa-angle-right {
    right: 0;
}


 .project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 45px;   
    padding-bottom: 90px; 
    background-image: url('images/Projects-BG.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
 }

 .prs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 90%;
}

.pr-card {
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    border-radius: 20px;
    border: 1.5px solid #FDAE35;
    width: 340px;
    background-color: #935c09a9;
}

.pr-card img {
    width: 100%;
    object-fit: cover;
}

.pr-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 15px;
    color: #ffc163;
    background-color: #935c09a9;
}

.pr-body h1 {
    color: wheat;
    font-size: 30px;
}

.pr-body a {
    width: 120px;
    color: #FDAE35;
    text-decoration: none;
    padding: 10px;
    border: 1.5px solid #FDAE35;
    border-radius: 10px;
    background-color: black;
    font-size: 15px;
}

.pr-body a:hover {
    color: black;
    font-weight: bold;
    background-color: #3D6D00;
    border: 1.5px solid black;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left; 
    background-image: url('images/Contact-BG.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 540px;
    padding-left: 50px;
 }

 .contact-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 50px;
 }

 .contact-hd {
    display: flex;   
    align-items: left;     
    text-align: left;     
}

.contact-form{
    margin-top: 40px;
    border-radius: 20px;
    width: 400px;
  }
  
  .contact-form label {
    display: block;
    color: #FDAE35;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    resize: none;
    color: #E00051;
    background-color: #ffebbe;
  }
  
  .contact-form button {
    background: #E00051;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    transition: background 0.3s ease;
  }
  
  .contact-form button:hover {
    background: #FDAE35;
  }
 

 footer {
    height: 280px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(images/Footer.png); 
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
